* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.title {
  font-family: forma-djr-banner, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15vw;
  line-height: 1;
  cursor: default;
  overflow-y: hidden;
}


.subTitle {
  font-family: forma-djr-banner, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 9.6vw;
  line-height: 1;
  cursor: default;
  overflow-y: hidden;
  text-align: right;
}

p, li {
  font-family: droid-sans-mono, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

a.nav-link {
  color: black;
}

a.nav-link:hover {
  color: black;
}

li {
  display: list-item;
  overflow-x: visible;
  padding-bottom: 10px;
}

ul {
  list-style-position: outside !important;
  padding-left: 1em;
  margin-left: 1em;
  overflow-x: visible;
}

ul li::marker {
  color: black;
}

.nav-tabs {
  overflow-y: hidden;
}

/* ########################### HOME ############################ */
.categoryHeader {
  width: 100%;
  font-family: forma-djr-micro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2vw;
  line-height: 1.3;
}

.categoryHeader.right {
  text-align: right;
}



.homeContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.bottomPlz {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.linkContainer {
  width: 100%;
  height: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
}

.linkContainer.right {
  justify-content: flex-end;
}


.linkContainer.left {
  align-items: flex-end;
}

.homeLink {
  position: relative;
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 3px;

}

.linkText {
  font-family: droid-sans-mono, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 2vw;
  line-height: 1.5;
  color: black;
  text-align: center;
}

.homeLink:hover {
  text-decoration: none;
  background-color: black;
}

.homeLink:hover .linkText {
  color: white;
}

.ninetyRow {
  height: 90%;
}

.tenRow {
  height: 10%;
}

.tenRow.bottom {
  position: absolute;
  bottom: 0px;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  height: 300px;
}

.aboutContainer.left {
  align-items: flex-end;
  text-align: left;
}

.aboutFont {
  font-family: droid-sans-mono, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
  color: black;
}

.aboutFont.left {
  text-align: left;
}


.smallTitleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 25px;
  height: 300px;
  background-color: black;
  border-radius: 5px;
}

.smallTitleOuterContainer {
  display: flex;
  justify-content: flex-end;
}

.smallTitleOuterContainer.right {
  display: flex;
  justify-content: flex-start;
}

.smallTitle {
  font-family: forma-djr-banner, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5vw;
  line-height: 1;
  text-align: center;
  color: white;
}
/*
@media only screen and (max-width: 768px) {
  .linkContainer.empty {
    display: None;
  }

  .linkContainer.left {
    align-items: flex-start;
    justify-content: center;
  }

  .linkContainer.right {
    justify-content: center;
    align-items: flex-end;
  }

  .ninetyRow {
    height: 400px;
  }

  .tenRow {
    height: 75px;
  }

  .tenRow.bottom {
    position: relative;
    bottom: auto;
  }

  .categoryHeader {
    display: none;
  }


  .title {
    display: none;
  }

  .subTitle {
    position: absolute;
    top: 0px;
  }
}
*/

/* ########################### PAGE ############################ */

.nav {
  width: 100%;
}

.tab-content {
  width: 100%;
}

.nav-item {
  margin-bottom: 5px;
}

.customPill.nav-link.active {
  background-color: black !important;
}

.customPill.nav-link:hover {
  box-shadow: inset -1px 0 0 black, inset 0 -1px 0 black, inset 1px 0 0 black, inset 0 1px 0 black;
}

.pageContainer {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.innerPageContainer {
  width: 100%;
  max-width: 1150px;
  padding: 25px;
}

.pageTitle {
  max-width: 50vw;
  font-family: forma-djr-banner, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 7vw;
  line-height: 1;
  cursor: default;
  overflow-y: hidden;
}

.pageSubtitle {
  font-family: droid-sans-mono, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 2vw;
  line-height: 1.3;
  cursor: default;
  overflow-y: hidden;
}

.pageHeading {
  font-family: forma-djr-banner, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;;
  line-height: 1.1;
}

.tabHeading {
  font-family: forma-djr-banner, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;;
  line-height: 1.1;
  padding: 15px;
}


.tabContainer {
  width: 100%;
  padding: 25px;
}

.rowPadder {
  height: 50px;
}

.underline {
  text-decoration: underline;
}

.codeSample {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100vw;
  position: relative;
  border-radius: 5px;
  border: 1px solid rgb(207, 207, 207);
  background-color: rgb(240, 240, 240);
}

.row .codeSample, .sampleHeader {
  margin-left: 15px;
  margin-right: 15px;
}

.row .sampleHeader {
  margin-bottom: -5px;
}


